body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.results {
  display: flex;
  margin: 5px 0 5px;

  .count_votes span {
    font-weight: normal;
  }
}

.inner_your_voice {
  display: flex;
}

.bold {
  font-weight: 900;
}

.hide {
  display: none;
}